<div class="row">
  <div class="col-4"></div>
  <div class="card col-4 text-center">
    <h1>Login</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username"
          required minlength="6" formControlName="username">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    
          <div *ngIf="profileForm.controls.username.invalid && (profileForm.controls.username.dirty || profileForm.controls.username.touched)"
                class="alert alert-danger">
    
            <div *ngIf="profileForm.controls.username.errors?.required" class="text-danger">
                Username is required.
            </div>
            <div *ngIf="profileForm.controls.username.errors?.minlength" class="text-danger">
                Username must be at least 6 characters long.
            </div>
    
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required minlength="6" formControlName="password">
          <small>At least 6 character, include upper, lower, special signs </small>

          <div *ngIf="profileForm.controls.password.invalid && (profileForm.controls.password.dirty || profileForm.controls.password.touched)"
                class="alert alert-danger">
    
            <div *ngIf="profileForm.controls.password.errors?.required" class="text-danger">
                Password is required.
            </div>
            <div *ngIf="profileForm.controls.password.errors?.minlength" class="text-danger">
                Password must be at least 6 characters long.
            </div>
    
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
  </div>
</div>