<div class="col-4"></div>
<div class="card container" style="width: 800px;">
    <div class="">
        <table class="table">
            <h2>Detail Profile</h2>
            <tr>
                <td>Picture</td>
                <td>
                    <img src="assets/picture/avatar.jpg" alt="Avatar" class="avatar">
                </td>
            </tr>
            <tr>
                <td>Username</td>
                <td>Username</td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td>Full Name</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>Email</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>Phone</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>Address</td>
            </tr>
          </table>
</div>
